.Items {
  display: flex;
  gap: 1rem;
  text-align: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.Item {
  border: 1px solid gray;
  padding: 1rem;
  border-radius: 1rem;
}

.Wide {
  width: 34.9rem;
  height: 19.2rem;
}

.NameAndPrice {
  display: flex;
  justify-content: space-between;
}

.Price {
  padding: 0.5rem;
  color: white;
  border-radius: 0.5rem;
  background-color: red;
}

.Stats {
  text-align: left;
}
